<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new user
    </h1>

    <input #NameInput class="input has-background-light is-medium" type="text" placeholder="Enter First Name...">
    <br>
    <br>
    <input #DemoInput class="input has-background-light is-medium" type="text" placeholder="Enter Last Name...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createList(NameInput.value,DemoInput.value)">Create</button>
    </div>

    
  </div>
</div>